:root {
  --primary-color: #86ab89;
  --white-color: #fff;
  --linear-gradient-1: #86ab89a4;
  --linear-gradient-2: #86ab89a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--primary-color);
  width: 100%;
}

.toggle {
  background-color: #000;
}

.mode {
  position: absolute;
  left: 83%;
  top: 2%;
  font-size: 1.5rem;
  font-weight: 700;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 90%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem 27rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.308);
  overflow: hidden;
}

.form__data {
  background-color: var(--white-color);
  height: 46rem;
  padding: 7rem 3rem;
}

.form__data--para {
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--primary-color);
}

.input-1 {
  margin-top: 4rem;
  position: relative;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 1rem;
}

.form__data--input1 {
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
}

.email__icon {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.form__data--forget {
  margin-top: 1.2rem;
  color: var(--primary-color);
  font-size: 1.3rem;
  cursor: pointer;
}

.form__data--btn {
  background: none;
  border: none;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  color: var(--white-color);
  margin-top: 3rem;
  width: 100%;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.form__data--para2 {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.4rem;
}

.form__data--span {
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
}

.form__img {
  background-image: linear-gradient(
      to right,
      var(--linear-gradient-1),
      var(--linear-gradient-2)
    ),
    url(person-checking-their-phone-and-laptop-in-a-coffee-house.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__img--heading {
  color: var(--white-color);
  font-size: 2rem;
}

.form__img--para {
  color: var(--white-color);
  font-size: 1.5rem;
}
